.progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #f0f0f0;
    z-index: 9999;

    .progress-bar {
        height: 100%;
        background-color: var(--primary-color);
        transition: all 0.3s ease;
      }
      
  }